# This file exemplifies how to write the RELEASE.local file

SUPPORT=/opt/epics/synApps-lnls-R1-0-0/support
EPICS_BASE=/opt/epics/base
AUTOSAVE=$(SUPPORT)/autosave-R5-9
SNCSEQ=$(SUPPORT)/seq-2-2-6
CALC=$(SUPPORT)/calc-R3-7
