# This file exemplifies how to write the RELEASE.local file

SUPPORT=/opt/epics/synApps_5_8/support
EPICS_BASE=/opt/epics/base
AUTOSAVE=$(SUPPORT)/autosave-5-6-1
SNCSEQ=$(SUPPORT)/seq-2-2-1
CALC=$(SUPPORT)/calc-3-4-2-1
